html {
    scroll-behavior: smooth;
}

.is-layout-constrained {
    padding-inline: 1rem;
}

/* ---------- BUTTONS ---------- */

/* Invidiual Button Styles */
.wp-block-button.is-style-primary > .wp-element-button {
    background-color: var(--wp--preset--color--primary-100);
    color: var(--wp--preset--color--neutral-500);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.wp-block-button.is-style-primary > .wp-element-button:hover {
    background-color: var(--wp--preset--color--primary-500);
}

.wp-block-button.is-style-secondary > .wp-element-button {
    background-color: var(--wp--preset--color--neutral-300);
    color: var(--wp--preset--color--primary-100);
    font-weight: 400;
    letter-spacing: 0.05em;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.wp-block-button.is-style-secondary > .wp-element-button:hover {
    background-color: var(--wp--preset--color--neutral-200);
}

/* Fallback (Primary) */
.wp-block-button:not([class*="is-style-"]) > .wp-element-button {
    background-color: var(--wp--preset--color--primary-100);
    color: var(--wp--preset--color--neutral-500);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.wp-block-button:not([class*="is-style-"]) > .wp-element-button:hover {
    background-color: var(--wp--preset--color--primary-500);
}
.wp-block-button.is-style-default > .wp-element-button {
    background-color: var(--wp--preset--color--primary-100);
    color: var(--wp--preset--color--neutral-500);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.wp-block-button.is-style-default > .wp-element-button:hover {
    background-color: var(--wp--preset--color--primary-500);
}

.wp-block-post-terms {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.wp-block-post-terms > a {
    background-color: var(--wp--preset--color--tertiary-500);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    transition: background-color 0.3s ease;
}
.wp-block-post-terms > a:hover {
    background-color: var(--wp--preset--color--tertiary-400);
}

.wp-block-post-terms .wp-block-post-terms__separator {
    display: none;
}

.wp-block-post-featured-image > a {
    padding: 0;
}

.wp-block-post-excerpt {
    margin-top: 0.5rem;
}