/* ---------- HEADING ---------- */
.site-header {
    margin-top: 1rem;
}

/* ---------- BUTTONS ---------- */

/* Invidiual Button Styles */
.wp-block-button.is-style-primary > .wp-element-button {
    background-color: var(--wp--preset--color--primary-100);
    color: var(--wp--preset--color--neutral-500);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.wp-block-button.is-style-primary > .wp-element-button:hover {
    background-color: var(--wp--preset--color--primary-500);
}


.wp-block-button.is-style-secondary > .wp-element-button {
    background-color: var(--wp--preset--color--neutral-300);
    color: var(--wp--preset--color--primary-100);
    font-weight: 400;
    letter-spacing: 0.05em;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.wp-block-button.is-style-secondary > .wp-element-button:hover {
    background-color: var(--wp--preset--color--neutral-400);
}

/* Fallback (Primary) */
.wp-block-button:not([class*="is-style-"]) > .wp-element-button {
    background-color: var(--wp--preset--color--primary-100);
    color: var(--wp--preset--color--neutral-500);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.wp-block-button:not([class*="is-style-"]) > .wp-element-button:hover {
    background-color: var(--wp--preset--color--primary-500);
}
.wp-block-button.is-style-default > .wp-element-button {
    background-color: var(--wp--preset--color--primary-100);
    color: var(--wp--preset--color--neutral-500);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.wp-block-button.is-style-default > .wp-element-button:hover {
    background-color: var(--wp--preset--color--primary-500);
}